:root {
  --main-font: "Cousine", monospace;
  --secondaty-font: "Kalam", cursive;
  --background: #201a12;
  --text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #528abc;
  background-image: url(../img/body-background.jpg);
  background-size: cover;
  background-position: center;
  font-size: 16px;
}

header {
  position: relative;
}

.navBar {
  background-color: var(--background);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.logo,
.menu,
.button {
  min-width: 150px;
  text-align: center;
}

.logo {
  font-size: 2rem;
  font-family: var(--secondaty-font);
  font-weight: 300;
  text-wrap: nowrap;
}

a {
  color: var(--text-color);
}

.menu,
.button {
  font-family: var(--main-font);
  text-transform: uppercase;
}

.menu {
  display: flex;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.3rem;
}

.button {
  background-color: transparent;
  padding: 1rem;
  border: 2px var(--text-color) solid;
  border-radius: 5px;
}

.button:hover {
  scale: 1.05;
}
